.env
.env.*
!.env.example

/docs/
/OpenImpact_OS_Project_Brief.md
/docker/
/docker-compose.yml

/apps/api/vendor/
/apps/api/node_modules/
/apps/api/storage/*.key
/apps/api/storage/logs/*.log
/apps/api/bootstrap/cache/*.php

/apps/admin/node_modules/
/apps/admin/dist/
/apps/admin/.env
/apps/admin/.env.*
!/apps/admin/.env.example

.DS_Store
Thumbs.db
